body{
	width: 100%;
	height: auto;
}

.sou-top{
	width: 1240px;
	height:60px ;
	margin: 30px auto;
	
}
.sou-top a{
	color: #c0c0c0;
}
.sou-top1{
	width: 700px;
	margin: 0 auto;
}
.logo{
	float: left;
}
.sou-top2{
	width: 524px;
	float: left;
	margin-left: 10px;
}
.sou-top2 ul{
	float: left;
}
.sou-top2 li{
	display:inline;
	font-size: 12px;
	color: #c0c0c0;
}
.sou-top2 p{
	float: right;
	font-size: 12px;
	color: #c0c0c0;
	margin-top: 4px;
}
#ssk{
	width: 406px;
	height: 40px;
	border: 1px solid #c0c0c0;
	border-radius:  2px 0 0 2px ;
	float: left;
}
input[value]{ 
color: #c0c0c0;

}
.btn{
	width: 118px;
	height: 40px;
	border-radius: 0 2px 2px 0;
	background: #39BF30;
	color: #fff;
	font-size: 18px;
	margin-left: -1px;
	border: none;
	float: left;
}
.top-r{
	width:154px ;
	height: 40px;
	float: right;
	margin-top: 8px;
}
.top-r p{
	font-size: 12px;
	float: left;
	margin-right: 10px;
	line-height: 24px;
}
.toux{
	width: 24px;
	height: 24px;
	border: 1px solid #999;
	border-radius: 50%;
	float: left;
}
