a{
	color: #6c6d6a;
}
a:link{ 
text-decoration:none; 
} 
a:visited{ 
text-decoration:none; 
} 
a:hover{ 
text-decoration:none; 
color:#Fc4030;
} 
a:active{ 
text-decoration:none; 
} 
.icon1 {
  width: 1rem;
  height: 1rem;
  vertical-align: -0.1em;
  fill: currentColor;
  overflow: hidden;
}
.icon2 {
  width: 1rem;
  height: 1rem;
  vertical-align: -0.1em;
  fill: currentColor;
  overflow: hidden;
}
.icon3 {
  width: 1rem;
  height: 1rem;
  vertical-align: -0.1em;
  fill: currentColor;
  overflow: hidden;
  color: #Fc4030;
}
.icon4 {
  width: 3rem;
  height: 3rem;
  vertical-align: -0.1em;
  fill: currentColor;
  overflow: hidden;
  opacity: .6;
  color: #Fc4030;
}

body {
  width: 100%;
  height: auto;
}


/* 顶部导航栏 */
.topnav {
  width: 1000px;
  height: 36px;
  margin: 0 auto;
}
.topnav .left1 {
  float: left;
  height: 36px;
}
.top1{
	float: left;
	margin-right: 10px;
	height: 36px;
	
}
.top1 p{
	line-height: 36px;
	font-size:12px;
	color: #6c6d6a;
}
.right1{
	float: right;
}


/* 网站导航展开 */

.topnav2{
	width: 1000px;
	height: 276px;
	margin: 0 auto;
	background-color: #fff;
	float: left;
	display: none;
	margin-top: 36px;
	position: absolute;
}
.zhuti{
	width: 249px;
	height: 276px;
	/* border: 1px solid #EDEDED; */
	float: left;
}
.zhuti h4{
	margin: 12px 0 18px 20px;
	color: #fc560b;
	font-weight: 800;
}
.zhuti li{
	float: left;
	font-size: 12px;
	margin: 0 16px 12px 20px;
	
}
.xian{
	width: 1px;
	height: 250px;
	margin-top: 13px;
	background-color: #EDEDED;
	float: left;
}

/* 顶部广告栏 */

.topgg{
	width: 100%;
	height: 90px;
	background-color:#D73B43 ;
}
.topgg1{
	width: 1200px;
	height: 90px;
	margin:  0 auto;
}
.topgg1 img{
	margin: 0 auto;
	display: block;
}
/* 顶部logo 搜索栏 */
.sousuo{
	width: 1200px;
	height: 80px;
	margin: 30px auto;
	overflow: hidden;
	
}
.logo{
	float: left;
	margin-left: 10px;
}
.shuru{
	float: left;
	width: 700px;
}
.shuru1{
	float: left;
	width: 700px;
	margin: 0 auto;
	}
.input1 {
    border: 2px solid #cc4538;
    border-radius: 2px;
    background: transparent;
	width:590px ;
	height: 36px;
}
.btn{
    background: #cc4538;
    border-radius: 0 2px 2px 0;
    width: 95px;
	height: 36px;
	font-size: 13px;
	color: #F9F0DA;
	margin-top: -2px;
	margin-left: -5px;
}
.shuru2{
	float: left;
	width: 700px;
	margin: 0 auto;
}
.shuru2 p{
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}
.yanse{
	color: #fc560b;
}
.rightgg{
	float: left;
	margin-left: 30px;
	width: 230px;
	height: 80px;
}
/* 导航栏 */

.nav{
	width: 100%;
	height: 36px;
	background-color: #fc4030;
	box-shadow: 0 2px 4px #999;
}
.nav1{
	width: 1200px;
	height: 36px;
	margin: 0 auto;
}
.nav1 li{
	float: left;
	margin: 0 30px;
	
	
}
.nav1 a{
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
}

/* 主体内容栏 */
.zj{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
/* 侧边导航栏 */
.leftnav{
	width: 240px;
	height: 540px;
	float: left;
	border: 1px solid #fc4030;
}
.leftnav1{
	width: 240px;
	height: 60px;
	margin-top:7px;
	margin-bottom: 7px;
}
.leftnav2{
	float: left;
	width: 50px;
	height: 50px;
}
.leftnav2 svg{
	margin: 0 auto;
	display: block;
}
.leftnav2 p{
	text-align: center;
}
.leftnav3{
	float: left;
	width: 190px;
	height: 50px;
}
.leftnav3 li{
	float: left;
	margin-right: 5px;
	margin-bottom: 6px;
}
.xian1{
	float: left;
	width: 220px;
	height: 1px;
	background-color: #999;
	opacity: 0.5;
	margin-left: 10px;
}

/* 中间广告轮播图 */
.banner{
	width: 700px;
	height: 540px;
	float: left;

	margin-left: 6px;
}
.gg-top1 {
	float: left;
  width: 520px;
  height: 280px;
  position: relative;
  box-shadow: 2px 2px 10px #999;
  margin-left: 6px;
}
.gg-top1 .imglist li {
  position: absolute;
  left: 0;
  top: 0;
}
.gg-top1 .imglist li img {
  width: 520px;
  height: 280pxs;
}

.zuobtn svg {
  width: 28px;
  height: 50px;
  position: absolute;
  top: 115px;
  left: 20px;
  background-color: #666;
  border-radius: 2px;
  opacity: 0.3;
}
.zuobtn svg:hover{
	background-color: #fff;
  opacity: 0.8;
}

.youbtn svg{
  width: 28px;
  height: 50px;
  position: absolute;
  top: 115px;
  right: 20px;
  background-color: #666;
  border-radius: 2px;
  opacity: 0.3;
}
.youbtn svg:hover{
	background-color: #fff;
  opacity: 0.8;
}
.gg-top1 .dian {
  position: absolute;
  bottom: 20px;
  right: 200px;
}
.gg-top1 .dian a {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #666;
}
.gg-top1 .dian .cur {
  background-color: #333;
}

.gg-top2{
	float: left;
	width:160px ;
	height: 280px;
	margin-left: 12px;
}
.gg-top2 img{
	width:160px ;
	height: 280px;
}

/* 轮播图下面广告图 */

.gg-top3{
	width: 520px;
	height: 240px;
	float: left;
	margin-left: 6px;
}
.chaozhi{
	float: left;
	width: 520px;
	height: 30px;
	overflow: hidden;
	margin-top: 10px;
	
}
.text1{
	float: left;
	font-size: 16px;
	color:#fc4030;
	font-weight: 700;
}
.text2{
	font-size: 12px;
	float: right;
	color:#A4A0A1 ;
	margin-top: 7px;
}
.textxian{
	background-color:#fc4030;
	width: 520px;
	height: 2px;
	float: left;
	margin-top: -12px;
}
.chaozhi1{
	float: left;
	width: 520px;
	height:218px;
	/* display: flex;
	justify-content: space-between; */
}
.chaozhi1 img{
	width: 250px;
	height: 218px;
}

.gg-top4{
	float: left;
	width: 160px;
	height: 180px;
	margin-top: 10px;
	margin-left: 12px;
}
.gg-top4 img{
	width: 160px;
	height: 248px;
}
/* 右边广告图*/
.rgg{
	width: 240px;
	height: 540px;
	float: left;
	margin-left: 10px;
}
.rgg1{
	width: 240px;
	height: 280px;
	overflow: hidden;
	
	/* border: 1px solid #999; */
}

table,th,td{
	border: 1px solid #999;
}
.rgg1 th{
	width: 240px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fc4030;
}
.rgg1 td{
	width:120px ;
	height: 60px;
}
.rgg1 img{
	width:120px ;
	height: 60px;	
}

/* 右下广告 */
.rgg2{
	width:242px;
	height: 250px;
	border: 1px solid #999;
	margin-top: 10px;

}
.rgg2 ul{
	text-align: center;
	margin-top: 20px;
}
.rgg2 li{
	margin: 10px auto;
}
.rgg2 span{
	background:#ff3300 ;
	color: #fff;
	padding: 1px 2px;
	border-radius: 2px;
}

/* 商品内容 */
.caini{
	width: 1200px;
	float: left;
	margin-top: 20px;
	
}
.caini p{
	color:#fc4030;
	font-size: 16px;
	line-height: 20px;
}
.shangpin{
	width: 1200px;
	height: auto;
	margin: 10px auto;
}

/* 商品内容 */
.row{
	width: 1200px;
	height: auto;
	margin: 10px auto;
	/* border: 1px solid red; */
}

.con{
	width: 250px;
	height: 366px;
	border: 1px solid #d0cdce;
	margin: 0 auto;
	margin-right: 66px;
	float: left;
	/* overflow: hidden; */
}
.con1{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 20px;
	
}
.con1 img{
	width: 200px;
	height: 200px;
}
.con2{
	width: 200px;
	height: 24px;
	margin:0 auto;
	margin-top: 6px;
}
.con2 img{
	width: 32px;
	height: 16px;
	float: left;
}
.con2 p{
	float: left;
	width: 165px;
	margin-top: -2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.con3{
	width: 200px;
	height: 24px;
	margin: 0 auto;
}
.con3-1{
	width: 18px;
	height: 18px;
	float: left;
	fill: currentColor;
	color:#fc4030;
}

.con3 p{
	width: 170px;
	color:#fc4030;
	float: left;
	font-size: 12px;
	margin-left: 10px;
}
.con4{
	width: 200px;
	margin: 0 auto;
	margin-top: 2px;
	display: block;
	
}
.con4 p{
	color:#fc4030;
	font-size: 16px;
	line-height: 20px;
	margin:  0 auto;
}
.con4 span{
	text-decoration:line-through;
	font-size: 14px;
	color:#999;
}
.con5{
	width: 200px;
	height: 24px;
	margin: 0 auto;
/* 	margin-top: 6px; */
}
.icon5{
	width: 18px;
	height: 18px;
	float: left;
	margin-top:2px;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	color:#fc4030 ;
	
}
.con5 p{
	float: left;
	margin-left: 10px;
	font-size: 12px;
	line-height: 24px;
	color: #999;

}
.xian3{
	width: 200px;
	height: 1px;
	margin: 0 auto;
	background: #d0cdce;
	margin-top: 8px;
	
}
.con6{
	width: 200px;
	height: 24px;
	margin: 6px auto;
}
.con6 p{
	float: right;
	color:#999;
	font-size: 12px;
}
#xiamian{
	width: 1200px;
	height: auto;
	margin:  20px auto;
}
#xiamian a, #xiamian b{
	color: #999;
	font-size: 12px;
	
}
.dibu{
	float: left;
}
