.nav1 a:hover{ 
text-decoration:none; 
} 

/* nav板块 */
nav{
	width: 100%;
	height: auto;
	background-color: #5796cc;
	
}
.nav1{
	width: 90%;
	height:20rem;
	display: flex;
	justify-content: center;
	margin:0  auto;
	align-items: center;
}
.nav1 li{
	text-align: center;
	line-height: 3rem;
	padding: 0 1rem;
	margin: 0 .1rem;
	font-size: 2rem;
	color: #fff;
	
	}
	.nav1 a{
		color: #fff;
		
	}
	
	.nav1 li:hover{
		background:#37b3d5 ;
		 border-radius: 0.25rem; 
	}
	/* @media (max-width:30rem) {
		
	} */
	/* 内容板块 */
	.container{
		width: 100%;
		height: auto;
		display: table;
	}
	.row{
		width: 90%;
		margin: 0 auto;
		padding:0;
		display: table-cell;
		vertical-align: middle;
	}
	.con{
		height: auto;
		margin-top: 60px;
		padding: 1rem;

	}
	.con b{
		text-align: center;
		display: block;
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	.con p{
		text-indent: 2.6rem;
		height: 60px;
		margin-top:30px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		overflow: hidden;
	}
	.con1{
		border: 1px solid #dfdfdd;
		height: 22rem;
		border-radius: .5rem;
		padding:1rem;
		-webkit-animation:flip 1s .2s ease both;
		-moz-animation:flip 1s .2s ease both;
		margin: 0 20px;
		}
		
	
	.con1:hover{
		-moz-box-shadow:2px 2px 10px #666;
		-webkit-box-shadow:2px 2px 10px #666; 
		box-shadow:2px 2px 10px #666;
		-webkit-animation:swing 1s .2s ease both;
		-moz-animation:swing 1s .2s ease both;
		
	}
	@-webkit-keyframes swing{
		20%,40%,60%,80%,100%{-webkit-transform-origin:top center}
		20%{-webkit-transform:rotate(15deg)}
		40%{-webkit-transform:rotate(-10deg)}
		60%{-webkit-transform:rotate(5deg)}
		80%{-webkit-transform:rotate(-5deg)}
		100%{-webkit-transform:rotate(0deg)}
		}
		@-moz-keyframes swing{
		20%,40%,60%,80%,100%{-moz-transform-origin:top center}
		20%{-moz-transform:rotate(15deg)}
		40%{-moz-transform:rotate(-10deg)}
		60%{-moz-transform:rotate(5deg)}
		80%{-moz-transform:rotate(-5deg)}
		100%{-moz-transform:rotate(0deg)}
	}
	.con1 img{
		width: 5rem;
		height: 5rem;
		display: block;
		margin: 10px auto;
	}
	.con1 .lj{
		text-align: center;
	}